body{
    margin: 0;
    padding: 0;
    background: #3b3838;
}
#heading{
    padding: 20px;
    text-align: center;
    font-size: 1.5em;
    background-color: #70736d;
    font-family: "Sofia", sans-serif;
    font-weight: 900;
}

/* display winning result */
#result{
    margin-top: 10px;
    text-align: center;
    font-size: 1.5em;
    color: #f3fce8;
}

/* within the container result gameContainer restart button */
#container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gameContainer{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    padding: 10px;
    margin: 10px;
}

.gameContainer .marker{
    background: #adaba8;
    border-radius: 5px;
    font-weight: 700;
}

 #restart{
    margin-top: 20px;
    font-size: 1.5em;
    background: #b3a59a;
    padding: 8px 20px;
    border-radius: 8px;
    box-shadow: 5px 3px 8px #0e0d0d;
}

@media only screen and (max-width:768px){
    #container{
        width: 100%;
        align-items: center;
    }
    .gameContainer{
        width: 95%;
    }
}